- page_title do
  #{link_to 'Spot My Car', root_path} / #{@user.name.capitalize}

- if @user.vehicles.any?
  = render 'vehicles/vehicles', vehicles: @user.vehicles, user: @user
- else
  .row
    .col.s4.offset-s4.center-align
      %p No vehicles! #{link_to 'Add one?', new_user_vehicle_path(user_id: @user.id)}
