- page_title do
  #{link_to "#{@user.name}", @user} /
  #{link_to @vehicle.name ? '"' + @vehicle.name.titleize + '"' : @vehicle.model.titleize, user_vehicle_path(user_id: @user.id, id: @vehicle.id)} /
  Edit
  / May need to shrink these names

= render 'form', user: @vehicle.user, vehicle: @vehicle
