- if @images.any?
  - @images.each do |image|
    = image_tag image.url, class: 'materialbox'
- else
  .row
    .col.s4.offset-s4.center-align
      %p{style: 'font-family: "OpenSans-Bold", sans-serif;'}
        No images! #{link_to 'Add one?', new_user_vehicle_image_path(user_id: @user.id, vehicle_id: @vehicle.id)}
