- page_title do
  #{link_to "#{@user.name}", @user} / Vehicles
  / May need to shrink these names, may want a method

- if @vehicles.any?
  = render 'vehicles', vehicles: @vehicles, user: @user
- else
  .row
    .col.s4.offset-s4.center-align
      %p{style: 'font-family: "OpenSans-Bold", sans-serif;'}
        No vehicles! #{link_to 'Add one?', new_user_vehicle_path(user_id: @user.id)}
