// Font path over rides
$fa-font-path: "font-awesome/fonts";
$roboto-font-path: "materialize/font/roboto/";
$icons-font-path: "materialize/font/material-design-icons";

@font-face {
  font-family: 'FontAwesome';
  src: font_url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: font_url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    font_url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    font_url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    font_url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    font_url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
//  src: font_url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Material-Design-Icons";
    src: font_url("#{$icons-font-path}Material-Design-Icons.eot");
    src: font_url("#{$icons-font-path}Material-Design-Icons.eot?#iefix") format("embedded-opentype"),
        font_url("#{$icons-font-path}Material-Design-Icons.woff") format("woff"),
        font_url("#{$icons-font-path}Material-Design-Icons.ttf") format("truetype"),
        font_url("#{$icons-font-path}Material-Design-Icons.svg#Material-Design-Icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Thin";
    src: font_url("#{$roboto-font-path}Roboto-Thin.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto-Light";
    src: font_url("#{$roboto-font-path}Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-Regular";
    src: font_url("#{$roboto-font-path}Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Medium";
    src: font_url("#{$roboto-font-path}Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-Bold";
    src: font_url("#{$roboto-font-path}Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: font_url('open_sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: font_url('open_sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: font_url('open_sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: font_url('open_sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: font_url('open_sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: font_url('open_sans/OpenSans-ExtraBold.ttf') format ('truetype');
}

// Font classes
.os-regular-font {
  font-family: 'OpenSans-Regular';
}

.os-light-font {
  font-family: 'OpenSans-Light';
}

.os-bold-font {
  font-family: 'OpenSans-Bold';
}

.os-italic-font {
  font-family: 'OpenSans-Italic';
}

.os-bold-italic-font {
  font-family: 'OpenSans-BoldItalic';
}

.os-extra-bold-font {
  font-family: 'OpenSans-ExtraBold';
}

.roboto-thin-font {
  font-family: 'Roboto-Thin';
}

.roboto-light-font {
  font-family: 'Roboto-Light';
}

.roboto-regular-font {
  font-family: 'Roboto-Regular';
}

.roboto-medium-font {
  font-family: 'Roboto-Medium';
}
