html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'OpenSans-Light', sans-serif;
}

.page {
  width: 100%;
  min-height: 100%;
  padding-top: $mobile-title-bar-height;
  background-image: image_url('head-light.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;

  @media #{$medium-and-up} {
    padding-top: $title-bar-height;
  }

  .signed-in {
    background-image: none;
  }
}
