html, body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 6em;
  background-image: image_url('head-light.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.header {
  height: auto;
  font-size: 120%;
}

.side-bar {
  position: fixed;
  right: -600px;
  height: 100%;
  width: 500px;
  padding-left: 2%;
  background-color: $dark-gray;
  z-index: 1000;
  color: white;
  font-size: 80%;
  box-shadow: -10px -10px 5px rgba(0, 0, 0, .1);

  .btn, .btn-default {
    font-size: inherit;
  }

  .side-bar-wrapper {
    width: 200%;
  }

  .form-title {
    font-size: 125%;
  }

  input {
    color: $dark-gray;
    width: 90%;
  }

  input.checkbox {
    width: .8em;
    height: .8em;
  }

  label {
    font-weight: inherit;
    font-size: 70%;
  }

  .actions {
    margin-top: 5px;
  }

  .side-bar-log-in, .side-bar-register {
    display: inline-block;
    overflow: hidden;
  }

  .side-bar-register {
    width: 50%;
  }

  #log-in-register-swap {
    font-size: 80%;
  }
}
