nav {
  position: absolute;
  background-color: #FFFFFF;
  color: $dark-gray;
  font-size: 1rem;
  line-height: $mobile-title-bar-height;
  z-index: 500;

  @media #{$medium-and-up} {
    line-height: $title-bar-height;
    font-size: 1.5rem;
  }
}

nav a {
  color: $dark-gray;
}

nav a.button-collapse i.fa.fa-bars {
  font-size: 1.2rem;
  margin-right: 1em;
}

nav ul li a {
  color: $dark-gray;
}

.breadcrumbs {
  font-size: 60%;
}

.os-regular-font {
  font-family: 'OpenSans-Regular';
}

.os-light-font {
  font-family: 'OpenSans-Light';
}

.os-bold-font {
  font-family: 'OpenSans-Bold';
}

.os-italic-font {
  font-family: 'OpenSans-Italic';
}

.os-bold-italic-font {
  font-family: 'OpenSans-BoldItalic';
}

.os-extra-bold-font {
  font-family: 'OpenSans-ExtraBold';
}
