nav {
  position: absolute;
  background-color: #FFFFFF;
  color: $dark-gray;
  font-size: 1rem;
  line-height: $mobile-title-bar-height;
  z-index: 500;

  @media #{$medium-and-up} {
    line-height: $title-bar-height;
    font-size: 1.5rem;
  }
}

nav a {
  color: $dark-gray;
}

nav a.button-collapse {
  color: $dark-gray;

  i.mdi-navigation-menu {
    font-size: 2rem;
    margin-right: 1em;
    color: $dark-gray;
  }
}

nav ul li a {
  color: $dark-gray;
}

.breadcrumbs {
  font-size: 60%;
}
