nav {
  position: absolute;
  background-color: #FFFFFF;
  color: $dark-gray;
  font-size: 1.2em;
  line-height: $mobile-title-bar-height;
  z-index: 500;

  @media #{$medium-and-up} {
    line-height: $title-bar-height;
  }
}

nav a {
  color: $dark-gray;
}

nav a.button-collapse i.fa.fa-bars {
  font-size: 100%;
  color: $dark-gray;
  margin-right: 1em;
}

nav ul li a {
  color: $dark-gray;
}
