$mobile-title-bar-height: 56px;
$title-bar-height: 64px;
$transparent: rgba(255, 255, 255, 0);
$dark-gray: #212121;
$forcars-red: #e74c3c;
$forcars-blue: #7FDBFF;
$primary-color: $forcars-red;
$secondary-color: $forcars-blue;
